$navbar-default-bg: #000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('deep_web.jpg');
  background-size: cover;
  height: 650px;
}

.jumbotron h1{
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
}

.jumbotron p{
  color: #fff;
}

.jumbotron small{
  color: #fff;
}

.signup-button{
  margin-top: 360px;
}

.article-actions{
  border-top: 1px solid  #eaeaea;
  padding-top: 5px;
}

.description{
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

div.footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

div.footer a:hover{
  color: #222;
}

div.footer small{
  float: left;
}

div.footer ul{
  float: right;
  list-style: none;
}

div.footer ul li{
  float: left;
  margin-left: 15px;
}

