<div class="container">
  <div class="footer">
    <small>Copyright &copy; 1437 AH - 2015 AD by <a target='_blank' href="http://vzool.net">Abdelaziz Elrashed</a></small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path%></li>
      </ul>
    </nav>
  </div>
</div>